:root {
  --primary: #fff;
  --secondary: purple;
  --tertiary: #000;
  --light-dark: #777777;
  --dark: #000;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 94%;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--secondary);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--dark);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.hero {
  padding: 3% 4%;
  background-color: var(--secondary);
  text-align: center;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--dark);
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  /* border: 3px solid var(--dark); */
  border-style: none;
  /* border-radius: var(--border-radius); */
}

.card-header {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 2.5%;
  /* border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0; */
}

.card-body {
  padding: 2.5%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

#city-form {
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-bottom-right-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/*.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* dashboard */
.dashboard {
  /* border-style: solid; */
  margin: 0px 0px 15px 0px;
  min-height: 200px;
}

.row {
  /* margin: 0 5px; */
  padding: 2px 2px;
}

#temperature,
#humidity,
#wind-speed {
  line-height: 32px;
  font-size: x-large;
}

/* .forecast-container {
  border-style: solid;
} */

.subtitle {
  margin: 0px 0px 15px 0px;
}

.forecast-days {
  /* border-style: solid; */
  margin: 0px 0px 15px 0px;
  display: flex;
}

.forecast-day {
  border-style: solid;
  /* margin: 0px 0px 15px 0px; */
  flex: 1;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 10px;
}

#city-name {
  padding: 23px 0 16px 0;
}

p {
  margin: 0;
  line-height: 3;
}
